.container {
    display: flex;       
    align-items: flex-start; 
    gap: 20px;           
    margin: 20px;
    /* border: 1px solid #ddd; */
  }
  
  .left-section {
    flex: 1;
    
  }
  
  .right-section {
    flex: 1; 
  }

  .loading {
    background: #fff3cd;
    color: #856404;
  }
  
  .new-test-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 16px;
    
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 4px;
    display: inline-block;
  }
  
  .upload-btn,
  .submit-btn {
    cursor: pointer;
    margin-top: 8px;
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  
  .file-name {
    margin-left: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .result-container {
    border: 1px solid #ddd;
    padding: 16px;
    background: #f8f8f8;
  }
  
  .json-result {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: pre;
  }
  